   /* Style for Swiper Container */
   table thead {
    width: 100% !important;
  }
  .swiper-container {
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
    }

    /* Style for Swiper Slides */
    .swiper-slide {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-right: 15px;
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 0.8;
    }

    /* Hover effect on Swiper Slides */
    .swiper-slide:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        opacity: 1;
    }

    /* Style for Card Title */
    .card-title {
        color: #007bff;
        font-size: large;
    }
    .swiper-slide .card {
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Style for Card Text */
    .card-text {
        color: #000;
    }

    /* Default style for Stock Signal Background */
    .stock-signal {
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 10px;
        color: #fff; /* Text color white for better contrast */
    }

    /* Background color based on stock signal */
    .buy {
        background-color: #28a745; /* Green background for Buy */
    }

    .sell {
        background-color: #dc3545; /* Red background for Sell */
    }

    .hold {
        background-color: rgb(255, 217, 102); /* Yellow background for Hold */
        color: #000; /* Text color black for better contrast on yellow */
    }

    /* Pagination Styles */
    .swiper-pagination {
        bottom: 10px;
    }
    .swiper-pagination-bullet {
        background-color: #007bff;
        opacity: 0.5;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
    }

    /* Navigation Buttons */
    .swiper-button-next, .swiper-button-prev {
        color: #007bff;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .swiper-button-next:hover, .swiper-button-prev:hover {
        color: #fff;
        background-color: #007bff;
    }

    /* Animation for Swiper Slide Entering */
    .swiper-slide-active {
        animation: fadeIn 0.8s ease;
        opacity: 1 !important;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .notification {
        background: rgba(255, 255, 255, 0.8);
        border-radius: 12px;


        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .notification-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 8px;
    }
    .app-icon {
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }
    .app-name {
        font-weight: bold;
        font-size: 16px;
    }
    .notification-time {
        font-size: 12px;
        color: #888;
    }
    .notification-body {
        font-size: 14px;
    }
    .notification-body b {
        font-weight: bold;
    }

    .label-color{
    color:#008000 !important;
    font-weight: bold;
    }
    .color-home{
    color:#008000 !important;
    }
    .d-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .d-flex a {

        text-decoration: none;
        color: #007bff;
        font-weight: normal;
        padding: 8px 15px;
        border: 1px solid #008000;
        border-radius: 4px;
        transition: all 0.3s ease;
    }

    h2 a:hover {
        color: white  !important;
        background-color: #008000;
    }

    /* Optional: Responsive design */
    @media (max-width: 600px) {
        h2 {
            flex-direction: column;
            align-items: flex-start;
        }

        h2 a {
            margin-top: 10px;
        }
    }
    table.dataTable{
        border-collapse: collapse !important;
        border-spacing: 0 !important;
    }
    table.dataTable td {
        white-space: nowrap;
    }

    /* Chỉnh sửa để phần cột cố định nhìn đẹp */
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
    .table-bordered>:not(caption)>*>* {
        border-width: 0 1px;
    }
    table.dataTable thead th, table.dataTable thead td{

        /* padding: inherit !important; */
        /* min-width: 70px; */
        border-bottom: inherit !important;

    }

    .dataTables_wrapper.no-footer .dataTables_scrollBody {
        border-bottom: inherit !important;
    }
    table.dataTable thead .sorting,table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
        background-image: none !important;
    }
    @font-face {
        font-family: 'UVN Gia Dinh';
        src: url('/fonts/unicode.publish.UVNGiaDinh_R.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    .font-face{
        font-size: 1.1rem !important;
        font-family: 'UVN Gia Dinh', sans-serif;
    }
    .dt-scroll-head {
       overflow: scroll !important;
    }
    tbody >tr:hover {
            cursor: pointer;
            background-color: #f5f5f5;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
            transform: scale(1.008);
        }
        /* tbody >tr>td {
            padding: 0.5em 0.5em;
            font-size: 0.9em;
        } */
       .color-home{
            color:#008000 !important;
        }
        body {
            font-size: 0.8rem;
        }

        .ml-auto {
            margin-left: auto !important;
        }

        #navbarNav .nav-link {
            font-size: 1.1rem;
            color: #000;
            font-weight: 600;
        }


        .cta {
            background-color: #007bff;
            color: white;
            padding: 60px 0;
        }

        .footer {
            padding: 30px 0;
        }

        .carousel-item {

            min-height: 300px;
            background: no-repeat center center scroll;
            background-size: cover;
        }

        .carousel-caption {
            background: rgba(0, 0, 0, 0.6);
            padding: 20px;
            border-radius: 10px;
        }

        .features {
            background: #f9f9f9;
        }

        .features .card {
            border: none;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .features .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }

        .features .card-body {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }

        .cta {
            background: linear-gradient(45deg, #007bff, #0056b3);
            color: white;
            padding: 60px 0;
        }

        .cta .btn {
            background: white;
            color: #007bff;
            border: none;
            transition: background-color 0.3s, color 0.3s;
        }

        .cta .btn:hover {
            background: #007bff;
            color: white;
        }

        .footer {
            padding: 30px 0;
            background: #f1f1f1;
        }



        .dataTable {
            margin-bottom: 0 !important;
        }

        table thead {
            background-color: #008000;
            /* Change the background color */
            color: white;
            /* Change the text color */
        }
        .comment-div-left {
            margin-right: 10px;
            width: 50px;

            text-align: center;
        }
        .comment-div-right {
            margin-left: 10px;
            width: 100px;

            text-align: center;
        }
        .hold{
            background-color :#ffd966;
        }
        .takeprofitbuy{
            background-color :#b6d7a8;
        }
        .cutlossbuy{
            background-color :#e06666;
        }
        .list-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .list-item button {
            cursor: none;
            padding: 5px 10px;
            border: none;
            margin-right: 10px;
        }
        .width-120{
            width: 120px;
        }
        /* Removed empty .table-responsive ruleset */
        td {
            text-align: center;
        }
        thead th {
            text-align: center;
        }
            /* Custom styles */

            .custom-tooltip {
            position: absolute;
            background-color: #fff;
            color: #333;
            /* padding: 0.5em; */
            border-radius: 5px;
            font-size: 1.3em;
            display: none;
            z-index: 1000;
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        }

        .chart_column {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100px;
            align-items: center;
            color: white;
            font-weight: bold;
            padding: 5px 0 5px 0;
        }
        .center_flex {
            display: inline-grid;
            justify-content: center;
            align-items: center;
        }
        table.dataTable thead th{
            padding: 8px 10px;
        }
        @media (min-width: 1269px) {
            table.dataTable tbody th, table.dataTable tbody td{
                /* padding: 8px 8px; */
                /* min-width: 80px; */
            }
            table.dataTable thead th, table.dataTable thead td{

                /* min-width: 80x; */
                border-bottom: inherit !important;

            }
        }
        @media (max-width: 1268px) {
            body {
                font-size: x-small !important   ;
            }
            table.dataTable thead th, table.dataTable thead td{
                padding: 8px;
            }
            table.dataTable tbody th, table.dataTable tbody td{
                padding: 8px;
                /* min-width: 80px; */
            }
            }
            th.dtfc-fixed-left{
                background-color: #008000 !important;
                z-index: 1000;
            }
            td.dtfc-fixed-left{
                border-color: inherit !important;
                background-color: #fff;
                z-index: 1000;
                /* background-color: inherit !important; */
            }
            html {
                font-size: 100%; /* 16px by default (100% of the browser default size) */
              }



              @media (max-width: 768px) {
                html {
                  font-size: 90%; /* Font size reduces to 90% of the default (14.4px) */
                }
              }

              @media (max-width: 576px) {
                html {
                  font-size: 80%; /* Font size reduces further to 80% (12.8px) */
                }
              }
                      #navbarNav .nav-link {
                          font-size: 1.1rem;
                          color: #000;
                          font-weight: 600;
                      }

                      .hero {
                          background: url('https://via.placeholder.com/1500x800') no-repeat center center;
                          background-size: cover;
                          color: white;
                          height: 100vh;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          text-align: center;
                      }

                      .cta {
                          background-color: #007bff;
                          color: white;
                          padding: 60px 0;
                      }

                      .footer {
                          padding: 30px 0;
                      }

                      .carousel-item {
                          height: 100vh;
                          min-height: 300px;
                          background: no-repeat center center scroll;
                          background-size: cover;
                      }

                      .carousel-caption {
                          background: rgba(0, 0, 0, 0.6);
                          padding: 20px;
                          border-radius: 10px;
                      }

                      .features {
                          background: #f9f9f9;
                      }

                      .features .card {
                          border: none;
                          transition: transform 0.3s, box-shadow 0.3s;
                      }

                      .features .card:hover {
                          transform: translateY(-10px);
                          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                      }

                      .features .card-body {
                          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                      }

                      .cta {
                          background: linear-gradient(45deg, #007bff, #0056b3);
                          color: white;
                          padding: 60px 0;
                      }

                      .cta .btn {
                          background: white;
                          color: #007bff;
                          border: none;
                          transition: background-color 0.3s, color 0.3s;
                      }

                      .cta .btn:hover {
                          background: #007bff;
                          color: white;
                      }

                      .footer {
                          padding: 30px 0;
                          background: #f1f1f1;
                      }

                      .header {
                          position: relative;
                          width: 100%;
                          z-index: 1000;
                          transition: all 0.5s ease;
                          /* Smooth transition for any changes */
                      }
                      @font-face {
                        font-family: 'UVN Gia Dinh';
                        src: url('/fonts/unicode.publish.UVNGiaDinh_R.ttf') format('truetype');
                        font-weight: normal;
                        font-style: normal;
                    }
                    .font-face{
                        font-size: 1.1rem !important;
                        font-family: 'UVN Gia Dinh', sans-serif;
                    }
                     .color-home{
                        color:#008000 !important;
                    }


                    .ml-auto {
                        margin-left: auto !important;
                    }

                    #navbarNav .nav-link {
                        font-size: 1.1rem;
                        color: #000;
                        font-weight: 600;
                    }


                    .cta {
                        background-color: #007bff;
                        color: white;
                        padding: 60px 0;
                    }

                    .footer {
                        padding: 30px 0;
                    }

                    .carousel-item {

                        min-height: 300px;
                        background: no-repeat center center scroll;
                        background-size: cover;
                    }

                    .carousel-caption {
                        background: rgba(0, 0, 0, 0.6);
                        padding: 20px;
                        border-radius: 10px;
                    }

                    .features {
                        background: #f9f9f9;
                    }

                    .features .card {
                        border: none;
                        transition: transform 0.3s, box-shadow 0.3s;
                    }

                    .features .card:hover {
                        transform: translateY(-10px);
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                    }

                    .features .card-body {
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                    }

                    .cta {
                        background: linear-gradient(45deg, #007bff, #0056b3);
                        color: white;
                        padding: 60px 0;
                    }

                    .cta .btn {
                        background: white;
                        color: #007bff;
                        border: none;
                        transition: background-color 0.3s, color 0.3s;
                    }

                    .cta .btn:hover {
                        background: #007bff;
                        color: white;
                    }

                    .footer {
                        padding: 30px 0;
                        background: #f1f1f1;
                    }

                    .dataTable {
                        margin-bottom: 0 !important;
                    }


                    .comment-div-left {
                        margin-right: 10px;
                        width: 50px;

                        text-align: center;
                    }
                    .comment-div-right {
                        margin-left: 10px;
                        width: 100px;

                        text-align: center;
                    }
                    .hold{
                        background-color :#ffd966;
                    }
                    .takeprofitbuy{
                        background-color :#b6d7a8;
                    }
                    .cutlossbuy{
                        background-color :#e06666;
                    }
                    .list-item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                    }
                    .list-item button {
                        cursor: none;
                        padding: 5px 10px;
                        border: none;
                        margin-right: 10px;
                        color: #000;
                    }
                    .width-120{
                        width: 120px;
                    }

                    td {
                        text-align: center;
                    }
                    thead th {
                        text-align: center;
                    }

                    .color-home {
                        color: #008000 !important;
                    }



                    .ml-auto {
                        margin-left: auto !important;
                    }

                    #navbarNav .nav-link {
                        font-size: 1.1rem;
                        color: #000;
                        font-weight: 600;
                    }


                    .cta {
                        background-color: #007bff;
                        color: white;
                        padding: 60px 0;
                    }

                    .footer {
                        padding: 30px 0;
                    }

                    .carousel-item {

                        min-height: 300px;
                        background: no-repeat center center scroll;
                        background-size: cover;
                    }

                    .carousel-caption {
                        background: rgba(0, 0, 0, 0.6);
                        padding: 20px;
                        border-radius: 10px;
                    }

                    .features {
                        background: #f9f9f9;
                    }

                    .features .card {
                        border: none;
                        transition: transform 0.3s, box-shadow 0.3s;
                    }

                    .features .card:hover {
                        transform: translateY(-10px);
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                    }

                    .features .card-body {
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                    }

                    .cta {
                        background: linear-gradient(45deg, #007bff, #0056b3);
                        color: white;
                        padding: 60px 0;
                    }

                    .cta .btn {
                        background: white;
                        color: #007bff;
                        border: none;
                        transition: background-color 0.3s, color 0.3s;
                    }

                    .cta .btn:hover {
                        background: #007bff;
                        color: white;
                    }

                    .footer {
                        padding: 30px 0;
                        background: #f1f1f1;
                    }

                    .dt-scroll-head {
                        width: 99% !important;
                    }


                    /* #popupDataTable>thead {
                        display: none;
                    } */

                    .dataTable {
                        margin-bottom: 0 !important;
                    }

                    table thead {
                        background-color: #008000;
                        /* Change the background color */
                        color: white;
                        /* Change the text color */
                    }

                    .comment-div-left {
                        margin-right: 10px;
                        width: 50px;

                        text-align: center;
                    }

                    .comment-div-right {
                        margin-left: 10px;
                        width: 100px;

                        text-align: center;
                    }

                    .hold {
                        background-color: #ffd966;
                    }

                    .takeprofitbuy {
                        background-color: #b6d7a8;
                    }

                    .cutlossbuy {
                        background-color: #e06666;
                    }

                    .list-item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                    }

                    .list-item button {
                        cursor: none;
                        padding: 5px 10px;
                        border: none;
                        margin-right: 10px;
                        color: #000;
                    }

                    .width-120 {
                        width: 120px;
                    }

                     /*
                    table.dataTable thead th, table.dataTable thead td{
                        padding: 4px 9px
                    } */
                    th {
                        text-align: center !important;
                    }

                    .table-responsive {
                        overflow-x: scroll !important;
                    }

                    ::-webkit-scrollbar {
                        width: 3px; /* Width of the scrollbar */
                        height: 3px; /*
                    }

                    ::-webkit-scrollbar-track {
                        background: #f1f1f1; /* Background color of the scrollbar track */
                    }

                    ::-webkit-scrollbar-thumb {
                        background: #888; /* Color of the scroll thumb */
                        border-radius: 10px; /* Rounded corners for the thumb */
                    }

                    ::-webkit-scrollbar-thumb:hover {
                        background: #555; /* Color of the thumb on hover */
                    }
                    element {
                        scrollbar-width: thin; /* Options: auto, thin, or none */
                        scrollbar-color: #888 #f1f1f1; /* thumb color and track color */
                    }

                    th,  td {
                        /* padding: 8px 10px !important; */
                        /* min-width: 60px; */
                        text-align: center;
                    }
