.heading-page {
    font-size: 48px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

.container-heading {
    background: #F5FFF7;
    padding: 65px 0;
}

#banner-home .content {
    font-weight: 400 !important;
    font-size: 18px;
    font-family: "Noto Sans JP", sans-serif ! important;
}
#banner-home .container-button .btn.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 12px 52px;
    border-radius: 8px;
}
#banner-home .container-button .btn {
    font-family: "Noto Sans JP", sans-serif ! important;
    font-weight: 500;
    font-size: 16px;
}
#banner-home .container-button .btn.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: #fff;
    padding: 12px 52px;
    border-radius: 8px;
}
#banner-home .container-button .btn.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
#services {
    border-bottom: 1px solid #eff4f1;
}
.common-services {
    border-bottom: 1px solid #eff4f1 important;
}
#services .service-content {
    padding: 5px;
}
#services .service-icon {
    width: 82px;
}
#services .services-title {
    font-weight: 600;
    font-size: 36px;
}
#services .service-title {
    font-weight: 600;
    font-size: 20px;
    color: var(--primary-default-color);
}
#services .service-text {
    font-size: 16px;
    color: var(--gray-color);
}
#services .service {
    position: relative;
    color: var(--gray-color);
    --before-width: 0%;
}
#services .service:hover {
    cursor: pointer;
}
#services .service.active {
    background: #fff;
    color: var(--gray-color);
}
#services .service::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: var(--before-width, 0%);
    background-color: var(--primary-color);
    z-index: 2;
    transition: width 0.4s ease-in-out;
}
#services .service:hover::before {
    /*width: 35%;*/
}
#services .service:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    border-bottom: 2px solid #D9FFE3;
    background-color: #D9FFE3;
    z-index: 1;
}
#services .services-img {
    height: 400px;
    width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 21px;
}
/*most_interested*/
#most_interested .services-title {
    font-weight: 600;
    font-size: 36px;
}
.common .services-title {
    font-weight: 600;
    font-size: 36px;
}
 .signal-open
{
    padding: 4px 16px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    border: 1px solid;
    width: 90px;
    display: inline-block;
}
 .signal-close
{
    padding: 4px 16px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    border: 1px solid;
    width: 140px;
    display: inline-block;
}
 .signal-open.buy {
    background: var(--primary-color);
}
 .signal-open.closed {
    background: #E0B21A;
}
 .signal-close.hold {
    background: #F6CC3F;
}
 .signal-close.profit-buy {
    background: #E6FFF1;
    border: 1px solid #277248;
    color: #277248;
}
 .signal-close.loss-buy {
    background: #FFE3E3;
    border: 1px solid #EF5657;
    color: #EF5657;
}
 .trend {
    font-weight: 700;
    font-size: 16px;
}
 .profit {
    font-weight: 600;
    font-size: 16px;
}
 .down-trend {
    color: #EF5657;
}
 .up-trend {
    color: #198754;
}
 .sideway {
    color: #F1C32A;
}

/*most_interested*/
#most_interested .services-title {
    font-weight: 600;
    font-size: 36px;
}
.common.services-title {
    font-weight: 600;
    font-size: 36px;
}
 .signal-open
{
    padding: 4px 16px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    border: 1px solid;
    width: 90px;
    display: inline-block;
}
#chart_table_beta table.most-interested-table .signal-close
{
    padding: 4px 16px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    border: 1px solid;
    width: 140px;
    display: inline-block;
}
#chart_table_beta table.most-interested-table .signal-open.buy {
    background: var(--primary-color);
}
#chart_table_beta table.most-interested-table .signal-open.closed {
    background: #E0B21A;
}
#chart_table_beta table.most-interested-table .signal-close.hold {
    background: #F6CC3F;
}
#chart_table_beta table.most-interested-table .signal-close.profit-buy {
    background: #E6FFF1;
    border: 1px solid #277248;
    color: #277248;
}
#chart_table_beta table.most-interested-table .signal-close.loss-buy {
    background: #FFE3E3;
    border: 1px solid #EF5657;
    color: #EF5657;
}
#chart_table_beta table.most-interested-table .trend {
    font-weight: 700;
    font-size: 16px;
}
#chart_table_beta table.most-interested-table .profit {
    font-weight: 600;
    font-size: 16px;
}
#chart_table_beta table.most-interested-table .down-trend {
    color: #EF5657;
}
#chart_table_beta table.most-interested-table .up-trend {
    color: #198754;
}
#chart_table_beta table.most-interested-table .sideway {
    color: #F1C32A;
}
/*trade on*/
#trading-on {
    z-index: 1;
    position: relative;
    border: 1px solid #fff;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background: #fff;
}
#trading-on .services-title {
    font-weight: 600;
    font-size: 36px;
}
#trading-on .trading-container .trading-on-content .head-text {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
    color: #4D5B7C;
}
#trading-on .trading-container .trading-on-content .last-text {
    font-weight: 700;
    font-size: 20px;
    color: #198754;
}
.chart-container {
    position: relative;
    width: 100%;
}

/*top signals*/
#top-signals {
    background: #13401F;
    z-index: -1;
    margin: -40px 0;
    position: relative;
    padding: 120px 0;
}
#top-signals .top-signal img.top-signal-icon {
    width: 30px;
}
#top-signals .top-signals-container .top-signals-title {
    font-weight: 600;
    font-size: 36px;
    color: #fff;
    padding-bottom: 80px;
}
#top-signals .top-signals-container .top-signal {
    padding: 16px 24px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #fff;
}
#top-signals .top-signals-container .top-signal .signal-name {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
}
#top-signals .top-signals-container .top-signal .signal-code img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}
#top-signals .top-signals-container .top-signal .signal-code .code {
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 500;
}
#top-signals .top-signals-container .top-signal .profit-sell .label-profit-sell {
    color: var(--primary-default-color);
    font-size: 16px;
    font-weight: 500;
}
#top-signals .top-signals-container .top-signal .profit-sell .profit {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
}
#top-signals .top-signals-container .top-signal .last-time {
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 400;
}

/*scan qr*/
#scan-qr {
    position: relative;
    padding: 80px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border: 1px solid #fff;
    z-index: 1;
    background: #fff;
}
#scan-qr .scan-qr-title {
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-color);
}
#scan-qr .scan-qr-text {
    font-size: 20px;
    font-weight: 400;
    color: var(--gray-color);
}
#scan-qr .scan-qr-container {
    border-radius: 16px;
    padding: 32px 64px;
    padding-bottom: 16px;
    background: linear-gradient(to right,
    #76E497 -50%,
    #F5FFF7 40%,
    #F5FFF7 60%,
    #76E497 150%
    );
}

/*top stocks rating by gvn*/
#top-stock-rating-by-gvn {
    background: #F6F9FE;
    padding: 80px 0;
}
#top-stock-rating-by-gvn .rating-title {
    font-weight: 600;
    font-size: 36px;
    padding-bottom: 80px;
}

/*trading on green stock NAS100*/
#trading-green-stock-NAS100 .NAS100-title {
    font-weight: 600;
    font-size: 36px;
    padding: 80px;
}
#trading-green-stock-NAS100 .trading-on-content .head-text {
    font-weight: 600;
    font-size: 26px;
}
#trading-green-stock-NAS100 .trading-on-content .last-text {
    font-weight: 400;
    font-size: 20px;
}
#trading-green-stock-NAS100 .content-stock-rating .container-chart {
    border: 1px solid #D5D7DA;
    padding: 32px 80px;
    border-radius: 16px;
}
#trading-green-stock-NAS100 .content-stock-rating .title-chart-buy-cash-hold-sell {
    font-size: 24px;
    font-weight: 600;
}
#trading-green-stock-NAS100 .content-stock-rating .title-chart-buy-cash-hold-sell {
    font-size: 24px;
    font-weight: 600;
}
#trading-green-stock-NAS100 .content-stock-rating .title-chart-best-top-10 {
    font-size: 24px;
    font-weight: 600;
}
.g-custom {
    --bs-gutter-y: 2rem !important;
    --bs-gutter-x: 2rem !important;
}
@media (max-width: 768px) {
    #banner-home .container-button .btn {
        font-size: 14px;
    }
    #banner-home .content {
        font-size: 14px;
        color: var(--gray-color);
    }
    #scan-qr {
        padding: 40px 0px 10px 0;
    }
    #services .services-title {
        font-size: 24px;
    }
    #services .service-title {
        font-size: 18px;
    }
    #services .service-text {
        font-size: 14px;
    }
    #most_interested .services-title {
        font-size: 24px;
    }
    .common .services-title {
        font-size: 24px;
    }
    #trading-on {
        border-top: 1px solid #eee;
    }
    #trading-on .services-title {
        font-size: 24px;
    }
    #top-signals .top-signals-container .top-signals-title {
        font-size: 24px;
        padding-bottom: 40px;
    }
    #scan-qr .scan-qr-container {
        padding: 32px 16px;
        background:
        radial-gradient(circle at top right, #76E497 -10%, transparent 70%),
        radial-gradient(circle at bottom left, #76E497 -10%, #F5FFF7 70%);
    }
    #scan-qr .scan-qr-title {
        font-size: 24px;
    }
    #scan-qr .scan-qr-text {
        font-size: 14px;
    }
    #top-stock-rating-by-gvn {
        padding: 40px 0;
    }
    #top-stock-rating-by-gvn .rating-title {
        font-size: 24px;
        padding-bottom: 40px;
    }
    #trading-green-stock-NAS100 .NAS100-title {
        font-size: 24px;
        padding: 40px 0;
    }
    #trading-green-stock-NAS100 .trading-on-content .head-text span {
        font-size: 24px;
    }
    #trading-green-stock-NAS100 .content-stock-rating .container-chart {
        padding: 32px 0px;
    }
    .heading-page {
        font-size: 36px;
    }
    #top-signals {
        padding: 80px 0;
    }
}
