/*Front style*/
#header .navbar-light .navbar-nav .active>.nav-link {
  border-bottom: 3px solid #000000b3 !important;
  color: #3ab54a;
}
#header .navbar-light .navbar-nav .nav-link {
  font-weight: 500;
  font-size: 20px;
  color: #000000b3;
  transition: 0.3s all ease;
  border-bottom: 3px solid transparent;
}
#header .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #3ab54a !important;
  border-bottom: 3px solid #000000b3 !important;
}
#header .navbar-light .navbar-nav .nav-item {
  margin-right: 20px;
}
#header .banner-header {
  height: max-content;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.full-height {
  height: 100%;
}
#header .text-header-1 {
  font-size: 50px;
  font-weight: bold;
}
#header .mt-100 {
  margin-top: 100px;
}
#header .mt-40 {
  margin-top: 40px;
}
#footer {
  height: max-content;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#footer .background-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.85;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
#footer .custom-ul-li {
  list-style-type: none;
  padding-bottom: 10px;
  padding-left: 0;
}
#footer .custom-ul-li a{
    text-decoration: none;
}
#footer .custom-icon {
  padding-right: 10px;
  color: #fff;
  transition: color 0.3s;
}
#footer ul li.custom-ul-li a:hover, #footer ul li.custom-ul-li a:hover i {
  color: #3ab54a !important;
}
#footer .py-100px {
  padding: 100px 0;
}
#footer .text-26px {
  font-size: 26px;
}
#footer .social-media a {
  color: #fff;
  margin-right: 5px;
}
.footer-bottom {
  background: #000;
  padding: 30px 20px;
  text-align: center;
  color: #fff;
}
#home-content .top-session-before-signal {
  margin-bottom: 20px;
}
#home-content .top-session-before-signal swiper-slide img.border-radius-13px {
  border-radius: 13px;
}
#home-content .top-session-before-signal swiper-slide {
  border-radius: 13px;
}
#home-content .swiper-button-next, #home-content .swiper-button-prev {
  color: #fff;
  width: calc(27px / 44* 27);
  height: 27px;
}
#home-content .custom-title {
  color: #008000;
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0;
}
#home-content table thead tr {
  color: #3ab54a;
  background-color: #f6fff7;
}
#home-content table thead th {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #fafafa;
  padding: 15px 15px 15px 15px;
  text-align: left;
}
#home-content table tbody tr {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}
#home-content table tbody th {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #000;
  padding: 10px 10px 10px 10px;
  text-align: left;
}
#home-content table tbody>tr:nth-child(odd)>td, #home-content table tbody>tr:nth-child(odd)>th {
  background-color: #80808012;
}
#home-content table td, #home-content table th {
  border-top: none;
}
#home-content table tbody tr:hover {
  color: #222;
  background-color: #1085e433;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
      margin-left: 60px;
  }
}
@media (max-width: 568px) {
  #footer .py-100px {
    padding: 50px 20px;
  }
  #footer .footer-first-item {
    text-align: center;
    margin: 25px 0;
  }
  #home-content table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
#home-content .title-trading-first, #home-content .title-trading-second {
  font-size: 40px;
  font-weight: bold;
}
#home-content .title-trading-first {
  color: #000;
}
#home-content .title-trading-second {
  color: #3ab54a;
}
#home-content .trading-green-beta .text-performance .percent {
  font-size: 25px;
  color: #3ab54a;
}
.color-primary-custom {
  color: #3ab54a;
}
/*Swiper css*/
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-container::part(button-prev), swiper-container::part(button-next) {
  color: #fff !important;
  width: calc(25px / 44* 25);
  height: 40px;
}
